<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!--    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>-->
    <meta charset="UTF-8">
    <title>friends</title>
    <h1>friends</h1>

</head>
<body>
<p>
    <a th:href="@{'/main'}">Моя страница</a>
</p>
<p>
    <a th:href="@{'/main/friends/getMyFriends'}">Мои друзья</a>
</p>
<p>
    <a th:href="@{'/main/friends/getAllUsers'}">Все юзеры</a>
</p>
<p>
    <a th:href="@{'/main/friends/addFriend'}">Добавить друга </a>
</p>

<p>
    <a th:href="@{'/main/friends/deleteFriend'}">Удалить друга </a>
</p>
<!--<tr> Поиск друзей</tr>-->

<!--    <tr th:each="user:${userList}">-->
<!--    <td th:text="${user.getName()}"></td>-->

</body>
</html>