<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <h1>Добро пожаловать на FACEPOOK</h1>
</head>
<body>
<h0>Введите лог</h0>
<form th:action="@{/login}" th:method="post">
    <p>
        <input type="email" id="email" name="email" class="form-control" placeholder="логин" required
               autofocus>
    </p>
    <p>
        <input type="password" id="password" name="password" class="form-control" placeholder="пароль" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">вход</button>
</form>
<p>
    <a th:href="@{'/reg'}">зарегестрироваться</a>
</p>
</body>
</html>