<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>photos</title>
    <h1>photos</h1>
</head>
<body>
<p>
    <a th:href="@{'/main'}">Моя страница</a>
</p>
<p>
    <a th:href="@{'/main/news'}">Новости</a>
</p>
<p>
    <a th:href="@{'/main/message'}">Сообщения</a>
</p>
<p>
    <a th:href="@{'/main/friends'}">Друзья</a>
</p>
<p>
    <a th:href="@{'/main/photos'}">Фотографии</a>
</p>
</body>
</html>