<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 class="form-signin-heading"><strong>Регистрация пользователя</strong></h3>
<form th:action="@{/reg}" th:method="post">
    <p>
        <input type="email" id="email" name="email" class="form-control" placeholder="логин" required
               autofocus>
    </p>
    <p>
        <input type="password" id="password" name="password" class="form-control" placeholder="пароль" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">зарегестрировать</button>
</form>
<p>
    <a th:href="@{'/login'}">страница для ввода логина</a>
</p>

</body>
</html>